
@media (min-width: 550px) and (max-width: 1250px) {
    /* le texte va avoir des marges de 40px */
    .texte-introduction {
        margin-left: 40px;
        margin-right: 40px;
    }
 }

 #connexion {
     display: flex;
     justify-content: end;
 }
#logo {
    display: flex;
    justify-content: center;
}
body {
    background-color: #018174;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    color: white;   
}
#slogan {
    text-align: center;
}
article {
    text-align: center;
}
#dl_button {
    margin-left: auto;
    margin-right: auto;
}
